<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="img/favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="div">
    <div id="greetings">
      <a id="hello" href="/login"></a>
    </div>
    <div id="wrapper">
      