<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Nie ma takiej strony</title>
  <link rel="icon" href="img/error_favicon.png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
   <a href="/">  
     <img id="go-away" src="img/go_away.jpg" alt="Idź sobie">
  </a>
</body>

</html>